body {
    padding-top: 5px;
    padding-bottom: 20px;
}



.header-container {
    display: grid;
    grid-template-rows: 100px 50px 25px;
    background-image: url('Images/partial wing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
}

.header-brand {
    color: white;
    grid-row: 1;
}

    h1 {
        font-size: 50px;
    }

.css-navbar {
    grid-row: 2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}



li {
    float: right;
    opacity: 1;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        opacity: 1;
    }

        li a:hover {
            background-color: #111;
        }
